# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Output directories
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/*

# IDE/Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
